# Environnement virtuel
.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Configuration sensible
.env
config_secret.py

# Fichiers locaux
*.db
*.sqlite
__pycache__/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log